<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %-60c %x - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- Application logs -->
        <Logger name="io.github.jlmc" level="DEBUG"/>

        <!-- Flink logs set to DEBUG as requested -->
        <Logger name="org.apache.flink" level="DEBUG"/>

        <!-- Suppress noisy logs from other libraries if needed -->
        <Logger name="org.apache.kafka" level="INFO"/>
        <Logger name="org.apache.hadoop" level="INFO"/>
        <Logger name="org.apache.zookeeper" level="INFO"/>
    </Loggers>
</Configuration>
